{% extends 'template.html.twig' %}
{% block body %}
    {{ include('fragments/date-jour.html.twig') }}
    <div class="alert alert-warning">
        <a href="{{ path('app_tab',{nb : 7}) }}">start table</a>
    </div>
<table class="table">
    <tr class="table-active">
        <td>firstNmae</td>
        <td>age</td>
        <td>name</td>
        <td>message</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.firstname }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.name }}</td>
        <td>{{ render(controller('App\\Controller\\FirstController::hello', { name: user.name, firstname: user.firstname })) }}</td>    </tr>
    {% endfor %}
</table>
{% endblock %}
