{% extends 'template.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Detail</th>
                <th>Objectifs</th>
                <th>Contenu</th>
                <th>Mode</th>
                <th>Duree</th>
                <th>PrixUnitaire</th>
                <th>Unite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.Titre }}</td>
                <td>{{ formation.sousTitre }}</td>
                <td>{{ formation.detail }}</td>
                <td>{{ formation.objectifs }}</td>
                <td>{{ formation.contenu }}</td>
                <td>{{ formation.mode }}</td>
                <td>{{ formation.duree }}</td>
                <td>{{ formation.prixUnitaire }}</td>
                <td>{{ formation.unite }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_new') }}">Create new</a>
{% endblock %}
